<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpotliteDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AEDB89D1C0E9E7A0086897C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEDB8B61C0E9E7A0086897C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEDB8C11C0E9E7A0086897C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
